.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


/results/.DS_Store
/results/eez_results/*
/results/flag_state_results/*


/SubsidyAtlasACP/data/shapefiles_raw/*
/SubsidyAtlasACP/data/eez_results/ACP/figures/*